 HEAD
import React from 'react';

function StickersPage() {
  return (
    <div>
      <h1>手に入れたシール一覧</h1>
      {/* シール一覧をここに表示する */}
    </div>
  );
}

export default StickersPage;

.DS_Store
 5607d1c7 (Ignore .DS_Store files)
.bash_sessions/
Desktop/*.png
